name: test

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo message
        env:
          MSG: ${{ inputs.message }}
        run: echo "$MSG"
